body {
  margin: 0;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  background: #000;
  image-rendering: pixelated; /* ドット絵向け */
}

